.navigation {
  --gap: 4vh;
  font-family: 'NeueMachina', sans-serif;
  font-size: 1.6rem;
  line-height: 1;

  display: flex;
  align-items: center;
  position: fixed;
  left: var(--padding-left);
  writing-mode: vertical-rl;

  &List {
    display: flex;
    gap: var(--gap);

  }

  &Item {
    display: flex;
    align-items: center;
    gap: var(--gap);
    text-align: center;

    &:not(:nth-child(3))::after {
      margin-left: auto;
      content: url('./images/star.svg');
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &Link {
    opacity: 0.7;
    transition: opacity 0.3s;

    &Active {
      pointer-events: none;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}