$size-top-height: 0.6rem;
$size-top-weight: 0.8rem;
$size-top: 2.6rem;

$size-bottom-height: 0.5rem;
$size-bottom-weight: 0.8rem;
$size-bottom: 2.1rem;

$size-border: 2px;

.artButton {
  --color: var(--color-foreground);
  --bg: var(--color-foreground);
  --color-1: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70%);
  --color-2: linear-gradient(70deg, #60B3FF 0%, #6BB3BD 100%);
  --color-3: linear-gradient(70deg, #68E3D5 0%, #B24AC2 100%);
  --color-4: linear-gradient(80deg, #8FF2F8 0%, #FFD84E 100%);
  --border-width: 2px;
  --corner-width: 0.8rem;
  --corner-height: 0.6rem;
  --corner-size: 0.6rem;
  --triangle-side: 1rem;
  --triangle-indent: 4px;

  font-family: 'NeueMachina', sans-serif;
  font-size: 1.6rem;
  min-width: 136px;
  margin: 0 auto;
  padding: 2rem 3rem 1.4rem;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  color: var(--color);
  transition: color 0.2s linear 0.1s;

  /* full button polygon */
  clip-path: polygon(
    0 var(--corner-height),
    calc(100% - (var(--corner-size) * 7)) var(--corner-height),
    calc(100% - (var(--corner-size) * 7 - var(--corner-width))) 0,
    100% 0,
    100% 100%,
    calc(var(--corner-size) * 5) 100%,
    calc(var(--corner-size) * 5 - var(--corner-width))
      calc(100% - var(--corner-height)),
    0 calc(100% - var(--corner-height))
  );

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg);
    z-index: -2;

    /* border button polygon */
    clip-path: polygon(
      0 var(--corner-height),
      calc(100% - (var(--corner-size) * 7)) var(--corner-height),
      calc(100% - (var(--corner-size) * 7 - var(--corner-width))) 0,
      100% 0,
      100% 100%,
      calc(var(--corner-size) * 5) 100%,
      calc(var(--corner-size) * 5 - var(--corner-width))
        calc(100% - var(--corner-height)),
      0 calc(100% - var(--corner-height)),
      0 calc(100% - (var(--corner-height) + var(--border-width))),
      calc(var(--corner-size) * 3)
        calc(100% - (var(--corner-height) + var(--border-width))),
      calc(var(--corner-size) * 5 - var(--corner-width) + var(--border-width) / 2)
        calc(100% - (var(--corner-height) + var(--border-width))),
      calc(var(--corner-size) * 5 + var(--border-width) / 2)
        calc(100% - var(--border-width)),
      calc(100% - var(--border-width)) calc(100% - var(--border-width)),
      calc(100% - var(--border-width)) var(--border-width),
      calc(
          100% -
            (var(--corner-size) * 7 - var(--corner-width) - var(--border-width) / 2)
        )
        var(--border-width),
      calc(100% - (var(--corner-size) * 7 - var(--border-width) / 2))
        calc(var(--corner-height) + var(--border-width)),
      0 calc(var(--corner-height) + var(--border-width)),
      0 calc(100% - (var(--corner-height) + var(--border-width))),
      var(--border-width)
        calc(100% - (var(--corner-height) + var(--border-width))),
      var(--border-width)
        calc(100% - (var(--corner-height) + var(--border-width))),
      var(--border-width) calc(var(--corner-height) + var(--border-width)),
      0 calc(var(--corner-height) + var(--border-width))
    );
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg);
    z-index: -1;
    width: 100%;
    transform: scale(0);
    transition: transform 0.3s linear;
  }

  &Type1,
  &Type2,
  &Type3,
  &Type4, {
    --color: var(--color-background);
    font-weight: 700;
  }

  &Type1::after {
    background: var(--color-1);
    transform: scale(1);
  }

  &Type2::after {
    background: var(--color-2);
    transform: scale(1);
  }

  &Type3::after {
    background: var(--color-3);
    transform: scale(1);
  }

  &Type4::after {
    background: var(--color-4);
    transform: scale(1);
  }

  &Standart span {
    &::before,
    &::after {
      content: "";
      position: absolute;

      width: 0;
      height: 0;
      border-style: solid;

      transition: border-color 0.15s linear;
    }
    
    &::before {
      top: calc(var(--corner-height) + var(--border-width) + var(--triangle-indent));
      left: calc(var(--border-width) + var(--triangle-indent));
      border-width: var(--triangle-side) var(--triangle-side) 0 0;
      border-color: var(--color) transparent transparent transparent;
    }

    &::after {
      bottom: calc(var(--border-width) + var(--triangle-indent));
      right: calc(var(--border-width) + var(--triangle-indent));
      border-width: 0 0 var(--triangle-side) var(--triangle-side);
      border-color: transparent transparent var(--color) transparent;
    }
  }

  &:hover {
    --color: var(--color-background);
    transition: color 0.3s linear;

    &::after {
      transform: scale(1);
    }

    span {
      &::before,
      &::after {
        transition: border-color 0.3s linear 0.2s;
      }
    }
  }
}