$size-top-height: 0.6rem;
$size-top-weight: 0.8rem;
$size-top: 2.6rem;

$size-bottom-height: 0.5rem;
$size-bottom-weight: 0.8rem;
$size-bottom: 2.1rem;

$size-border: 2px;
$size-indent: 0.1rem;

$triangle-side: 1rem;
$triangle-indent: 0.3rem;

.artButton {
  --color: var(--color-foreground);
  --bg: var(--color-foreground);
  --color-1: linear-gradient(90deg, #ffb800 0%, #ffbac3 70%);
  --color-2: linear-gradient(70deg, #60b3ff 0%, #6bb3bd 100%);
  --color-3: linear-gradient(70deg, #68e3d5 0%, #b24ac2 100%);
  --color-4: linear-gradient(80deg, #8ff2f8 0%, #ffd84e 100%);

  font-family: "NeueMachina", sans-serif;
  font-size: 1.6rem;
  min-width: 136px;
  margin: 0 auto;
  padding: 2rem 3rem 1.4rem;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  color: var(--color);
  transition: color 0.2s linear 0.1s;

  /* full button polygon */
  clip-path: polygon(
    0 $size-top-height,
    calc(100% - $size-top - $size-top-weight) $size-top-height,
    calc(100% - $size-top) 0,
    100% 0,

    100% 100%,
    calc($size-bottom + $size-bottom-weight) 100%,
    $size-bottom calc(100% - $size-bottom-height),
    0 calc(100% - $size-bottom-height)
  );

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg);
    z-index: -2;
    width: 100%;
    transform: scale(0);
    transition: transform 0.3s linear;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg);
    z-index: -1;

    /* border button polygon */
    clip-path: polygon(
      0 $size-top-height,
      calc(100% - $size-top - $size-top-weight) $size-top-height,
      calc(100% - $size-top) 0,
      100% 0,

      100% 100%,
      calc($size-bottom + $size-bottom-weight) 100%,
      $size-bottom calc(100% - $size-bottom-height),
      0 calc(100% - $size-bottom-height),
      0 calc($size-top-height + $size-border),
      $size-border calc($size-top-height + $size-border),
      $size-border calc(100% - $size-bottom-height - $size-border),
      calc($size-bottom + $size-indent)
        calc(100% - $size-bottom-height - $size-border),
      calc($size-bottom + $size-bottom-weight + $size-indent)
        calc(100% - $size-border),
      calc(100% - $size-border) calc(100% - $size-border),
      calc(100% - $size-border) $size-border,
      calc(100% - $size-top + $size-indent) $size-border,
      calc(100% - $size-top - $size-top-weight + $size-indent)
        calc($size-top-height + $size-border),
      0 calc($size-top-height + $size-border),
      /* $size-border calc($size-top-height + $size-border) */
    );
  }

  &Type1,
  &Type2,
  &Type3,
  &Type4 {
    --color: var(--color-background);
    font-weight: 700;
    transition: all 0.3s ease-in-out;

    &::after {
      background: linear-gradient(
        27deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.2) 100%
      );
    }

    &:hover {
      transform: scale(1.1);
      /* font-size: 1.8rem; */

      &::after {
        background: linear-gradient(
          27deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.5) 100%
        );
      }
    }
  }

  &Type1::before {
    background: var(--color-1);
    transform: scale(1);
  }

  &Type2::before {
    background: var(--color-2);
    transform: scale(1);
  }

  &Type3::before {
    background: var(--color-3);
    transform: scale(1);
  }

  &Type4::before {
    background: var(--color-4);
    transform: scale(1);
  }

  &Standart span {
    &::before,
    &::after {
      content: "";
      position: absolute;

      width: 0;
      height: 0;
      border-style: solid;

      transition: border-color 0.15s linear;
    }

    &::before {
      top: calc($size-top-height + $size-border + $triangle-indent);
      left: calc($size-border + $triangle-indent);
      border-width: $triangle-side $triangle-side 0 0;
      border-color: var(--color) transparent transparent transparent;
    }

    &::after {
      bottom: calc($size-border + $triangle-indent);
      right: calc($size-border + $triangle-indent);
      border-width: 0 0 $triangle-side $triangle-side;
      border-color: transparent transparent var(--color) transparent;
    }
  }

  &Standart:hover {
    --color: var(--color-background);
    transition: color 0.3s linear;

    &::before {
      transform: scale(1);
    }

    span {
      &::before,
      &::after {
        transition: border-color 0.3s linear 0.2s;
      }
    }
  }
}
